<div class="w-full max-w-4xl mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <a href="https://www.qualy.tours/f1" class="block">
      <div class="bg-white rounded-lg shadow-lg p-2 transition hover:shadow-xl hover:shadow-red-500/50 hover:border-red-500 border border-gray-100">
        <img src="/images/button/f1.jpeg" alt="F1" class="w-full h-32 object-contain">
      </div>
    </a>
    <a href="https://www.qualy.tours/futbol" class="block">
      <div class="bg-white rounded-lg shadow-lg p-2 transition hover:shadow-xl hover:shadow-red-500/50 hover:border-red-500 border border-gray-100">
        <img src="/images/button/futbol.jpeg" alt="Futbol" class="w-full h-32 object-contain">
      </div>
    </a>
    <a href="https://www.qualy.tours/basket" class="block">
      <div class="bg-white rounded-lg shadow-lg p-2 transition hover:shadow-xl hover:shadow-red-500/50 hover:border-red-500 border border-gray-100">
        <img src="/images/button/basquet.jpeg" alt="Basket" class="w-full h-32 object-contain">
      </div>
    </a>
    <a href="https://www.qualy.tours/tenis" class="block">
      <div class="bg-white rounded-lg shadow-lg p-2 transition hover:shadow-xl hover:shadow-red-500/50 hover:border-red-500 border border-gray-100">
        <img src="/images/button/tenis.jpeg" alt="Tenis" class="w-full h-32 object-contain">
      </div>
    </a>
  </div>
</div>
